# topic2 필수과제 : 데이터 불러오기, 문법 적용하기
### BDAA 파이썬 문법 응용반 : 7기 학회원 임규연

In [29]:
import pandas as pd # pandas 불러오기

In [30]:
df = pd.read_excel ('example_cake.xlsx')

In [52]:
# info 확인하기
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5 non-null      object
 1   store       5 non-null      object
 2   size        5 non-null      object
 3   price       5 non-null      float64
dtypes: float64(1), object(3)
memory usage: 292.0+ bytes

In [53]:
# describe()
df.describe()

           price
count   5.000000
mean   10.340000
std     2.921986
min     6.000000
25%     9.600000
50%    10.200000
75%    12.200000
max    13.700000

In [39]:
df

  Unnamed: 0    store size  price
0     cake A  store P    L   10.2
1     cake B  store Q    M   12.2
2     cake C  store Q    M   13.7
3     cake D  store Q    L    9.6
4     cake E  store R    S    6.0

In [44]:
# unnamed : 0 column 없애기 : https://velog.io/@ddoy_eon/Unnamed-0-%EC%82%AD%EC%A0%9C%ED%95%98%EB%8A%94-%EB%B0%A9%EB%B2%95 참고함.

df_remove_unnamed = df.drop(df.columns[0], axis=1)

In [45]:
df_remove_unnamed

     store size  price
0  store P    L   10.2
1  store Q    M   12.2
2  store Q    M   13.7
3  store Q    L    9.6
4  store R    S    6.0

In [46]:
col_list = list(df_remove_unnamed.columns)

In [47]:
col_list

['store', 'size', 'price']

In [48]:
print (store)

NameError: name 'store' is not defined

In [50]:
df_remove_unnamed.loc [:3, col_list[1]]

0    L
1    M
2    M
3    L
Name: size, dtype: object